<style>
  textarea {
  resize: none;
}
</style>

<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  　<div class="container" style="text-align: center; height: 200px;">
      <div class="form-gropup">
        <%= form.text_area :content, class: 'form-control' %>
      </div>
    
      <div>
        <%= form.file_field :image %>
        <%= form.submit 'Tweet' %>
      </div>
    </div>
<% end %>
