<style>
  .form-group textarea {
    background-color: rgb(21, 32, 43);
  }
</style>

<%= form_with(model: tweet, local: true) do |form| %>
  <%= render 'layouts/error_messages', model: tweet %>
    <div class="container" style="height: 200px;">
      <div class="form-group">
        <%= form.text_area :content, class: 'form-control', rows: 6, placeholder: "Hello!" %>
      </div>
    
      <div class="row">
        <div class="offset-3 col-2">
        <%= form.file_field :image %>
        </div>
        <div class="col-5 offset-2">
        <%= form.submit 'Tweet', class: 'btn btn-primary' %>
        </div>
      </div>
    </div><br><hr color="white"><hr color="white">
<% end %>
