<style>
  .tweet_image {
    width: 500px;
  }
  
  #wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .content {
    margin: auto;
  }
</style>

<ul class="list-unstyled">
  <% tweets.each do |tweet| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(tweet.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to tweet.user.name, user_path(tweet.user) %> <span class="text-muted">posted at <%= tweet.created_at %></span>
        </div>
        <div id="wrapper">
          <p class="mb-0"><%= image_tag tweet.image.url, class: "tweet_image" %></p>
          
          <div class="content">
            <p class="mb-0"><%= tweet.content.gsub(/\r\n|\r|\n/, "<br>").html_safe %></p>
          </div>
          
        </div>
        <div class="container" style="text-align: center;">
          <div class="row">
            <div class="col-md-1">
              <%= render 'favorites/favorite_button', tweet: tweet %>
            </div>
            <div class="col-md-1">
              <% if current_user == tweet.user %>
                <%= link_to "Delete", tweet, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </div>
          </div>
        </div><hr color="white">  
    </li>
  <% end %>
  <%= paginate tweets %>
</ul>